<div class="container-fluid">
  <h3 class="brand-text-align">Digital world</h3>
  <div class="row grid">
    <div class="order__left centered">
      <div style="width: 77%;">
        <img src="./../../../assets/image/empty-300x240.jpg" alt="cam-logo" style="width: 60px;border-radius: 10px;"
          class="mb-3">
        <h4>Forgot password?</h4>
        <p style="color: #a0a2a1;">No worries, we'll send you password reset instructions.</p>
        <div class="mb-3">
          <label for="login-email" class="form-label">Email</label>
          <input type="email" class="form-control" id="login-email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <button type="button" style="width: 100%;" class="btn btn-success">Reset password</button>
        </div>
        <div class="mb-3">
          <span style="color: #a0a2a1;">Remember password?&nbsp;</span><a class="pointer" (click)="signIn()">Sign in!</a>
        </div>
      </div>
    </div>
    <div class="order__right centered">
      <img src="./../../../assets/image/empty-300x240.jpg" alt="brand-logo" class="brand-img-align">
    </div>
  </div>
</div>