<e-seva-sidenav [activePage]="'User management'">
    <div routerPage>
        <div class="d-flex justify-content-between">
            <div>
                <h4 class="text-muted mb-3">User management</h4>
            </div>
            <div style="width: 30%">
                <input type="search" class="form-control" placeholder="Search..." autocomplete="off"/>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card p-2 bg-white mt-2 table-responsive custom-scrollbar" style="height: 73vh;">
                    <table class="table table-smm table-stripedd table-hover table-flush">
                        <thead>
                            <tr class="header-row">
                                <th>User id</th>
                                <th>User name</th>
                                <th>User email</th>
                                <th>address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="!isLoading && users.length>0; else checkLoadingTemplate">
                                <tr *ngFor="let user of users" class="table-font-size-14px">
                                    <td>{{user['userID']}}</td>
                                    <td>{{user['firstName'] + " " + user['lastName']}}</td>
                                    <td>{{user['email']}}</td>
                                    <td>{{(user?.['address'])?user['address']:'-'}}</td>
                                    <td></td>
                                </tr>
                            </ng-container>
                            <ng-template #checkLoadingTemplate>
                                <ng-container *ngIf="!isLoading && users.length==0; else loadingTemplate">
                                    <tr>
                                        <td colspan="5" class="text-center skip-hover">
                                            No records to show
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #loadingTemplate>
                                    <tr *ngFor="let service of 10 | num_sequence" class="skip-hover">
                                        <td><span class="content-placeholder">&nbsp;</span></td>
                                        <td><span class="content-placeholder">&nbsp;</span></td>
                                        <td><span class="content-placeholder">&nbsp;</span></td>
                                        <td><span class="content-placeholder">&nbsp;</span></td>
                                        <td><span class="content-placeholder">&nbsp;</span></td>
                                    </tr>
                                </ng-template>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</e-seva-sidenav>