<app-header [menuList]="menuList"></app-header>
<div class="container mt-2">
    <h5>QR Code Generator</h5>
    <div class="border rounded">
        <div class="row">
            <div class="col-6">
                <div class="m-3">
                    <div class="mb-3" style="display: flex; justify-content: space-between;">
                        <div>
                            <label for="qr-expire-hours" class="form-label">QR Expiration (Hours):</label>
                            <input type="number" class="form-control" name="qr_expire_hours" min="0" placeholder="Enter hours">
                        </div>
                        <div>
                            <label for="qr-expire-minutes" class="form-label">QR Expiration (Minutes):</label>
                            <input type="number" class="form-control" name="qr_expire_minutes" min="0" max="59"
                            placeholder="Enter minutes">
                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="form-check-input me-2" type="checkbox" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Allow Image Downloads
                        </label>
                    </div>
                    
                    <button type="button" style="width: 100%;" class="btn btn-success pointer">Generate QR Code</button>
                </div>
            </div>
            <div class="col-6">
                <app-qr-code></app-qr-code>
            </div>
        </div>
    </div>
</div>