html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

body {
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word
}



a {
    background: 0 0
}

a:focus {
    /* outline: thin dotted */
}

a:active,a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,kbd,pre,samp {
    font-family: monospace,serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,input {
    line-height: normal
}

button,select {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'squarespace-ui-font';
    src: url('./squarespace-ui-font.eot');
    src: url('./squarespace-ui-font-iefix.eot') 
    format('embedded-opentype'), url('./squarespace-ui-font.svg') 
    format('svg'), url('./squarespace-ui-font.woff') 
    format('woff'), url('./squarespace-ui-font.ttf') 
    format('truetype');
     font-weight: normal;
    font-style: normal
}



/* @font-face {
    font-family: 'squarespace-ui-font';
    src: url('https://assets.squarespace.com/universal/fonts/squarespace-ui-font.eot');
    src: url('https://assets.squarespace.com/universal/fonts/squarespace-ui-font.eot?#iefix') 
    format('embedded-opentype'), url('https://assets.squarespace.com/universal/fonts/squarespace-ui-font.svg#squarespace-ui-font') 
    format('svg'), url('https://assets.squarespace.com/universal/fonts/squarespace-ui-font.woff') 
    format('woff'), url('https://assets.squarespace.com/universal/fonts/squarespace-ui-font.ttf') 
    format('truetype');
      font-weight: normal;
    font-style: normal
} */

.site-wrapper  {
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* letter-spacing: 0em; */
    /* line-height: 1.8em; */
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01em;
    text-transform: none;
    line-height: 1.5em;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased
}

h1,
h2,
h3,
h4 {
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-weight: 600; */
    /* letter-spacing: 0em; */
    /* line-height: 1.2em; */
    font-family: Martel Sans;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.02em;
    text-transform: none;
    line-height: 1.5em;
    font-size: 2rem
}



.btn {
    position: relative;
    display: inline-block;
    line-height: normal;
    padding: .72rem 1.2024rem
}

.primary-button-style-solid .btn {
    -webkit-transition: .1s opacity linear;
    -moz-transition: .1s opacity linear;
    -o-transition: .1s opacity linear;
    transition: .1s opacity linear;
    -webkit-backface-visibility: hidden
}

@media (hover:hover) {
    .primary-button-style-solid .btn:hover {
        opacity: .8
    }
}



h1 {
    color: var(--headingExtraLargeColor)
}

h2 {
    color: var(--headingLargeColor)
}

h3 {
    color: var(--headingMediumColor)
}

h4 {
    color: var(--headingSmallColor)
}
.primary-button-style-outline .btn {
    border-width: 2px;
    border-style: solid;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear
}


h1[data-rte-preserve-empty]:empty::before,
h2[data-rte-preserve-empty]:empty::before,
h3[data-rte-preserve-empty]:empty::before,
h4[data-rte-preserve-empty]:empty::before,
h5[data-rte-preserve-empty]:empty::before,
h6[data-rte-preserve-empty]:empty::before,
p[data-rte-preserve-empty]:empty::before {
    content: '';
    display: inline-block
}

ol[data-rte-list] li {
    counter-increment: rte-list
}

ol[data-rte-list] li:first-child {
    counter-reset: rte-list
}

ul[data-rte-list] li,
ol[data-rte-list] li {
    list-style-type: none
}

ul[data-rte-list] li>*,
ol[data-rte-list] li>* {
    margin-top: .5em;
    margin-bottom: .5em
}

ul[data-rte-list] li>*:first-child::before,
ol[data-rte-list] li>*:first-child::before {
    display: inline-block;
    margin-left: -40px;
    min-width: 40px;
    text-align: right;
    box-sizing: border-box
}

li>*:first-child::before {
    white-space: pre
}

ol[data-rte-list] li>*:first-child::before {
    content: "  " counter(rte-list) ". "
}

ol[data-rte-list="upper-roman"] li>*:first-child::before {
    content: "  " counter(rte-list, upper-roman) ". "
}

ol[data-rte-list="upper-alpha"] li>*:first-child::before {
    content: "  " counter(rte-list, upper-alpha) ". "
}

ol[data-rte-list="lower-alpha"] li>*:first-child::before {
    content: "  " counter(rte-list, lower-alpha) ". "
}

ol[data-rte-list="lower-roman"] li>*:first-child::before {
    content: "  " counter(rte-list, lower-roman) ". "
}

ol[data-rte-list="decimal"] li>*:first-child::before {
    content: "  " counter(rte-list, decimal) ". "
}

ul[data-rte-list] li>*:first-child::before {
    padding-right: 10px;
    content: "\2022"
}

ul[data-rte-list="disc"] li>*:first-child::before {
    content: "\2022"
}

ul[data-rte-list="circle"] li>*:first-child::before,
ul[data-rte-list] ul[data-rte-list="default"] li>*:first-child::before {
    content: "\25CB"
}

ul[data-rte-list="square"] li>*:first-child::before,
ul[data-rte-list] ul[data-rte-list] ul[data-rte-list="default"] li>*:first-child::before {
    content: "\25A0"
}

ul[data-rte-list="dash"] li>*:first-child::before {
    content: "-"
}


h1,
h2,
h3,
h4 {
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-weight: 600; */
    /* letter-spacing: 0em; */
    /* line-height: 1.2em; */
    font-family: Martel Sans;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.02em;
    text-transform: none;
    line-height: 1.5em;
    font-size: 2rem
}



h1 {
    color: var(--headingExtraLargeColor)
}

h2 {
    color: var(--headingLargeColor)
}

h3 {
    color: var(--headingMediumColor)
}

h4 {
    color: var(--headingSmallColor)
}



h1 {
    line-height: calc(1.2 * (1 + (1 - 4.8)/25))
}


@media screen and (max-width: 767px) and (orientation: portrait) {
    h1 {
        font-size: calc((4.8 - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px),
screen and (max-width:calc(1296px - 1px)) and (orientation:landscape) {
    h1 {
        font-size: calc((4.8 - 1) * 1.2vw + 1rem)
    }
}

@media screen and (min-width:1296px) {
    h1 {
        font-size: calc(4.8 * 1rem)
    }
}

h2 {
    line-height: calc(1.2 * (1 + (1 - 3.5)/25))
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    h2 {
        font-size: calc((3.5 - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px),
screen and (max-width:calc(1296px - 1px)) and (orientation:landscape) {
    h2 {
        font-size: calc((3.5 - 1) * 1.2vw + 1rem)
    }
}

@media screen and (min-width:1296px) {
    h2 {
        font-size: calc(3.5 * 1rem)
    }
}

h3 {
    line-height: calc(1.2 * (1 + (1 - 2)/25))
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    h3 {
        font-size: calc((1.8 - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px),
screen and (max-width:calc(1296px - 1px)) and (orientation:landscape) {
    h3 {
        font-size: calc((1.8 - 1) * 1.2vw + 1rem)
    }
}

@media screen and (min-width:1296px) {
    h3 {
        font-size: calc(1.8 * 1rem)
    }
}

h4 {
    line-height: calc(1.2 * (1 + (1 - 1.6)/25))
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    h4 {
        font-size: calc((1.6 - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px),
screen and (max-width:calc(1296px - 1px)) and (orientation:landscape) {
    h4 {
        font-size: calc((1.6 - 1) * 1.2vw + 1rem)
    }
}

@media screen and (min-width:1296px) {
    h4 {
        font-size: calc(1.6 * 1rem)
    }
}


.header-button-font {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.2em;
    font-size: 1rem
}

.header-title-text {
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-weight: 600; */
    /* letter-spacing: 0em; */
    /* line-height: 1.2em; */
    font-family: Martel Sans;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.02em;
    text-transform: none;
    line-height: 1.5em;
    font-size: 2rem
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .header-title-text {
        font-size: calc((3.5 - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px),
screen and (max-width:calc(1296px - 1px)) and (orientation:landscape) {
    .header-title-text {
        font-size: calc((3.5 - 1) * 1.2vw + 1rem)
    }
}

@media screen and (min-width:1296px) {
    .header-title-text {
        font-size: calc(3.5 * 1rem)
    }
}

.header-display-mobile .header-title-text {
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0em;
    line-height: 1.2em; */
    font-family: Martel Sans;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.02em;
    text-transform: none;
    line-height: 1.5em;
    font-size: 2rem
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    .header-display-mobile .header-title-text {
        font-size: calc((2 - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px),
screen and (max-width:calc(1296px - 1px)) and (orientation:landscape) {
    .header-display-mobile .header-title-text {
        font-size: calc((2 - 1) * 1.2vw + 1rem)
    }
}

@media screen and (min-width:1296px) {
    .header-display-mobile .header-title-text {
        font-size: calc(2 * 1rem)
    }
}

.header-nav-item,
.user-accounts-text-link,
.cart-style-text,
.icon-cart-quantity:not(.legacy-cart),
.language-picker {
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-weight: 600; */
    /* letter-spacing: 0em; */
    /* line-height: 1.2em; */
    /* font-size: 1rem; */
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01em;
    text-transform: none;
    line-height: 1.5em;
    font-size: 1.5rem
}

@media screen and (max-width: 767px) and (orientation: portrait) {

    .header-nav-item,
    .user-accounts-text-link,
    .cart-style-text,
    .icon-cart-quantity:not(.legacy-cart),
    .language-picker {
        font-size: calc((1.5 - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px),
screen and (max-width:calc(1296px - 1px)) and (orientation:landscape) {

    .header-nav-item,
    .user-accounts-text-link,
    .cart-style-text,
    .icon-cart-quantity:not(.legacy-cart),
    .language-picker {
        font-size: calc((1.5 - 1) * 1.2vw + 1rem)
    }
}

@media screen and (min-width:1296px) {

    .header-nav-item,
    .user-accounts-text-link,
    .cart-style-text,
    .icon-cart-quantity:not(.legacy-cart),
    .language-picker {
        font-size: calc(1.5 * 1rem)
    }
}

.header-menu-nav-item {
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0em;
    line-height: 1.2em;
    font-size: 1rem; */
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .01em;
    text-transform: none;
    line-height: 1.5em;
    font-size: 1.5rem;
    line-height: 1
}

#siteWrapper .header-actions-action--cta .sqs-button-element--primary,
#siteWrapper .header-skip-link {
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0em;
    text-transform: none;
    font-size: 1rem; */
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .03em;
    text-transform: uppercase;
    line-height: 1.2em;
    font-size: 1.2rem
}

@media screen and (max-width: 767px) and (orientation: portrait) {

    #siteWrapper .header-actions-action--cta .sqs-button-element--primary,
    #siteWrapper .header-skip-link {
        font-size: calc((1.2 - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px),
screen and (max-width:calc(1296px - 1px)) and (orientation:landscape) {

    #siteWrapper .header-actions-action--cta .sqs-button-element--primary,
    #siteWrapper .header-skip-link {
        font-size: calc((1.2 - 1) * 1.2vw + 1rem)
    }
}

@media screen and (min-width:1296px) {

    #siteWrapper .header-actions-action--cta .sqs-button-element--primary,
    #siteWrapper .header-skip-link {
        font-size: calc(1.2 * 1rem)
    }
}

#siteWrapper .header-menu-cta .sqs-button-element--primary {
    /* font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0em;
    text-transform: none;
    font-size: 1rem; */
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .03em;
    text-transform: uppercase;
    line-height: 1.2em;
    font-size: 1.2rem
}

.header-menu {
    font-size: 1.2em
}

.header-menu .user-accounts-text-link,
.header-menu .cart-style-text,
.header-menu .icon-cart-quantity:not(.legacy-cart),
.header-menu .language-picker {
    font-size: 8.5vmin
}

@media screen and (min-width: 576px) {

    .header-menu .user-accounts-text-link,
    .header-menu .cart-style-text,
    .header-menu .icon-cart-quantity:not(.legacy-cart),
    .header-menu .language-picker {
        font-size: 6.6vmin
    }
}

@media screen and (min-width: 768px) {

    .header-menu .user-accounts-text-link,
    .header-menu .cart-style-text,
    .header-menu .icon-cart-quantity:not(.legacy-cart),
    .header-menu .language-picker {
        font-size: 6vmin
    }
}

.header-menu .user-accounts-link {
    margin: 0 0 0 1.6vw
}

@media screen and (max-width: 575px) {
    .header-menu .user-accounts-link {
        margin-bottom: 7vmin;
        margin-left: 0
    }
}

@media screen and (min-width: 576px) {
    .header-menu .user-accounts-link {
        margin-bottom: 7vmin;
        margin-left: 0
    }
}

@media screen and (min-width: 768px) {
    .header-menu .user-accounts-link {
        margin-bottom: 7vmin;
        margin-left: 0
    }
}

.header-menu-nav-item a {
    font-size: 8.5vmin
}

@media screen and (min-width: 576px) {
    .header-menu-nav-item a {
        font-size: 6.6vmin
    }
}

@media screen and (min-width: 768px) {
    .header-menu-nav-item a {
        font-size: 6vmin
    }
}

.header-menu-controls {
    font-size: .85em
}


@media screen and (max-width: 767px) and (orientation: portrait) {
    .site-wrapper,.sqs-catalog-item-list {
        font-size:calc((1.3 - 1) * calc(.012 * min(100vh, 900px)) + 1rem)
    }
}

@media screen and (min-width: 768px), screen and (max-width:calc(1296px - 1px)) and (orientation:landscape) {
    .site-wrapper,.sqs-catalog-item-list {
        font-size:calc((1.3 - 1) * 1.2vw + 1rem);
    }
}

@media screen and (min-width: 1296px) {
    .site-wrapper,.sqs-catalog-item-list {
        font-size:calc(1.3 * 1rem)
    }
}

 

@supports (--test-custom-property: true) {
    body {
        --sqs-site-gutter:4vw;
        --sqs-mobile-site-gutter: 6vw;
        --sqs-site-max-width: 1200px
    }
}

a {
    color: inherit;
    text-decoration: none
}

:focus {
     outline-offset: 0px!important;
}

:focus,a:focus {
      outline-width: 0px;
    outline-style: solid 
}

:focus:not(:focus-visible),a:focus:not(:focus-visible) {
    outline: none
}


.dropdown-menu {

    --bs-dropdown-font-size: 0.8rem;


    font-size: var(--bs-dropdown-font-size);

}