.dropdown-item {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.invoice-container {
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h1 {
  color: #154d5c;
}

.info-section {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.invoice-table th,
.invoice-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.invoice-table thead {
  background-color: #154d5c;
  color: #fff;
}

.total-section {
  text-align: right;
  font-size: 18px;
  margin-top: 20px;
}

.signature {
  text-align: right;
  margin-top: 40px;
}

.footer {
  margin: 40px 10px 20px 10px;
  font-size: 12px;
  color: #666;
  text-align: center;
  opacity: none
}

.bg-image {
  position: relative;
  z-index: 1;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  /* right: 0;
  bottom: 0; */
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./../../../../../assets/image/logo/sakthi-rm-logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
  /* transform: rotate(320deg); */
}
